body {
    /*typo*/
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

table{
    width: 70%;
}

header{
    background-color: #282828;
    color : #fff;
    display: flex;
}

h3{
    color: #DC9A0E;
    text-align: center;
}

h2{
    text-align: center;
}

#principal {
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
}

header li{
    margin-left: 45%;
    list-style: none;
}

#principal ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

#principal ul li a:hover {
    color: orange;
}

a {
    list-style: none;
    color: #fff;
}


/* ---- accueil -----*/
#banniere_accueil {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
}

#banniere_accueil h1 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    color: #DC9A0E;
    font-size: 5em;
}

#asbjorn{
    position: absolute;
    margin-top: 7%;
    margin-left: -20%;

    color:#fff;
    
}

.action-button {
    position: absolute;
    padding: 20px 60px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    background-color: #00000081;
    border-bottom: 5px solid #DC9A0E;
    text-shadow: 0px -2px #DC9A0E;
    margin-left: 47%;
    margin-top: 34%;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button:hover {
    color: #DC9A0E;
}
.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


#banniere_accueil figure {
    margin: 0;
    position: absolute;
    z-index: -1;
}

#banniere_accueil img {
    width: 100vw;
}
/* ---- accueil -----*/


/*---- section carre----*/
.gauche{
    display: flex;
    width: 90vw;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 12%;
}

.image_carre{
    width: 50%;
}
.gauche .flex{
    display: flex;
    background-color: #fff;
 
}

.droite{
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-top: 50px;
    margin-left: 50%;
    transform: translate(-50%);
}

.droite .flex{
    display: flex;
    background-color: #fff;
}

.Texte_carre{
    text-align: left;
}

figure.flex {
    margin: 0;
}
/*---- section carre----*/

/*---- section bandeau----*/
.Bandeau_bas{
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
}

.Bandeau_haut{
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
}

.Bandeau_haut figure img{
    width: 550px;
    z-index: -1;
    position: relative;

}

.Bandeau_bas figure img{
    width: 550px;
    z-index: -1;
    position: relative;
}

.Bandeau_bas .Texte{
    background-color: #fff;
    padding: 0 25px;
    margin-top: 10%;
    margin-right: -10%;
}

.Bandeau_haut .Texte{
    background-color: #fff;
    padding: 0 25px;
    margin-top: 10%;
    margin-left: -10%;
}
/*---- section bandeau----*/

/*---- Block avec avis ----*/
section.img_en_fond {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60vh;
    margin-bottom: 45vh; /*mt et mb pour centrer texte et image dans l'image de fond*/
}

div.gauche_imgfond {
    margin-left: 150px; /*histoire de décaler le tout*/
}
div.gauche_imgfond h2, div.gauche_imgfond p {
    margin-bottom: 100px; /*Pour avoir un espace entre tes textes*/
}

figure.Images_fond {
    margin: 0;
    position: relative;
    height: 100vh;
    margin-top: 50px;
}

img.Images_fond{
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

figure.Images_carousel{
    display: flex;
    align-items: center;
}

img.Images_carousel{
    width: 400px;
    margin-left: 50px;
}


.action-button1 {
    position: absolute;
    padding: 20px 60px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    background-color: #DC9A0E;
    border-bottom: 5px solid #ffffff;
    text-shadow: 0px -2px #ffffff;
    margin-left: 22%;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button1:hover {
    color: #ffffff;
}
.action-button1:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

/*---- Block avec avis ----*/

/*---- footer ----*/

footer{
    background-color: #282828;
    color : #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}